<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bincom Test Election App</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Election Results</a>
      <a href="/" class="header-logo">Polling Units</a>
      <a href="/lga" class="header-logo">LGA summed total</a>
      <a href="/new" class="header-logo">New PU Result</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Polling Units (PU)</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">Result_ID</span>
          <span class="id-column">PU_ID</span>
          <span class="id-column">Party</span>
          <span class="id-column">Party_Score</span>
        </div>

        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="id-column"><%= item.result_id %></span>
                <span class="id-column"><%= item.polling_unit_uniqueid%></span>
                <span class="id-column"><%= item.party_abbreviation %></span>
                <span class="id-column"><%= item.party_score %></span>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>